<div class="flex flex-col items-center min-h-screen bg-[conic-gradient(at_bottom_right,_var(--tw-gradient-stops))] from-blue-700 via-blue-800 to-gray-900">
  <div class="w-full max-w-6xl mx-auto mt-6 mb-6">
    <!-- Tarjeta del Juego -->
    <div class="rounded-xl overflow-hidden relative min-h-[70vh] md:h-[80vh]">
      @if(!gameStarted) {
        <div class="flex flex-col justify-end p-12 text-center h-full">
          <img src="preguntados-home.webp" alt="Preguntados" class="absolute inset-0 w-full h-full object-cover opacity-80">
          <div class="flex flex-col justify-end items-center text-center relative z-10">
            <button 
              (click)="startGame()" 
              class="px-16 py-3 bg-black/60 hover:bg-black/80 text-white font-medium rounded-lg transition-all transform hover:scale-105">
              Iniciar Juego
            </button>
          </div>
        </div>
      } @else {
          <div class="flex flex-col items-center justify-center h-full bg-[conic-gradient(at_bottom_right,_var(--tw-gradient-stops))] from-blue-700 via-blue-800 to-gray-900 p-6">
            <img src="preguntados-home.webp" alt="Preguntados" class="absolute inset-0 w-full h-full object-cover opacity-80">
            <!-- Imagen de fondo con los personajes -->
            <div class="bg-opacity-60 bg-slate-900 flex flex-col justify-center items-center max-w-[65%] md:min-w-[75%] min-w-[95%] rounded-xl p-6 z-10">
              <div class="relative w-full flex justify-center mb-6">
                <img src="preguntados-personajes.webp" alt="Personajes Preguntados" class="rounded-xl max-w-[800px] w-full object-cover">
              </div>

              <!-- Contenedor de categoría -->
              <h2 class="text-white text-2xl font-semibold mb-4 text-center">Selecciona una categoría:</h2>
              @if(showCategorySelection){
                
              }
              <div class="w-full flex flex-col items-center">
                @for (category of categories; track $index) {
                  <button 
                    (click)="selectCategory(category)"
                    [disabled]="category.used"
                    class="bg-white w-full md:w-[70%] p-4 md:p-3 rounded-md text-black hover:scale-105 transform transition duration-300 mb-2 disabled:opacity-40 disabled:cursor-not-allowed">
                    {{ category.title }}
                  </button>
                }
              </div>
            </div>
          </div>
        @if(gameFinished){
          <button 
              (click)="restartGame()" 
              class="px-6 py-2 bg-black/60 hover:bg-black/80 text-white rounded-lg">
              Volver a jugar
            </button>
        }
      }
    </div>

      <div class="grid grid-cols-1 lg:grid-cols-2 gap-6 mt-8">
        <div class="bg-black/40 p-6 rounded-xl text-white">
          <h2 class="text-2xl font-semibold pb-2">Explicacion del juego:</h2>
            <p><strong>Preguntados:</strong> Es un juego de trivia clásico que pone a prueba los conocimientos del jugador en
              diversas categorías. Con un enfoque en la diversión y el aprendizaje, el objetivo es responder preguntas
              correctamente para mantener las vidas disponibles y acumular la mayor cantidad de puntos posible, compitiendo
              por un lugar en el ranking de los mejores jugadores.<br><br>
              En esta versión de Preguntados, el jugador va respondiendo preguntas sobre las distintas categorías (Historia, Ciencia, Deportes, Arte, Entretenimiento y Geografía).
              <br><br>
            </p>
        </div>
        @if (gameType) {
          <app-ranking [gameType]="gameType" [alreadySaved]="alreadySaved"></app-ranking>
        }
      </div>
  </div>
</div>