@if(gameType === null){
  <div class=" min-h-[30vh]"></div>
}
  <div class="bg-black/40 p-6 rounded-xl text-white"
      [class.max-w-4xl]="isStatsPage()"
      [class.mx-auto]="isStatsPage()"
      [class.w-full]="true">

      <h1 class="text-3xl font-bold text-center text-white">Estadísticas Globales</h1>
      @if(isStatsPage() && allGameTypes.length > 0) {
        <div class="mb-6">
          <label for="gameTypeSelect" class="block mb-2 text-lg font-bold">Selecciona un juego:</label>
          <select 
            id="gameTypeSelect" 
            class="bg-gray-700 text-white rounded-lg px-4 py-2 w-full"
            (change)="onGameTypeChange($event)"
          >
            @for (game of allGameTypes; track game.id) {
              <option [value]="game.id" [selected]="game.id === selectedGameTypeId">
                {{ game.name }}
              </option>
            }
          </select>
        </div>
      }

      <h2 class="text-2xl font-bold mb-4">
        @if(route.snapshot.routeConfig?.path === 'stats') {
          Top 5 - {{ getSelectedGameName() }}
        }@else {
          Top 5
        }
      </h2>
      @if(loading){
        <div class="flex justify-center items-center h-64">
          <div class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-blue-500"></div>
        </div>
      }    
      @else if(ranking && ranking.length > 0) {
        <div class="overflow-x-auto p-6">
          <div *ngIf="gameType" class="mb-4">
            <h2 class="text-xl font-bold">Ranking {{ gameType.name }}</h2>
          </div>
          <table class="w-full text-sm">
            <thead class="text-xs uppercase bg-gray-700">
              <tr>
                <th scope="col" class="px-4 py-3 text-left">#</th>
                <th class="px-4 py-3 text-left">Usuario</th>
                <th class="px-4 py-3 text-right">Puntaje</th>
                @if(selectedGameTypeId  === 1) {
                  <th class="px-4 py-3 text-right">Racha</th>
                  <th class="px-4 py-3 text-right">Cant. Categorías</th>
                }
                @if (selectedGameTypeId  === 2) {
                  <th class="px-4 py-3 text-right">Aciertos</th>
                  <th class="px-4 py-3 text-right">Racha</th>
                } 
                @if(selectedGameTypeId  === 3){
                  <th class="px-4 py-3 text-right">Segundos</th>
                  <th class="px-4 py-3 text-right">Errores</th>
                }
                @if(selectedGameTypeId  === 4){
                  <th class="px-4 py-3 text-right">Palabras acertadas</th>
                  <th class="px-4 py-3 text-right">Max. Racha</th>
                }
              </tr>
            </thead>
            <tbody>
              @if (!loading) {         
                @for (item of ranking; track $index; let i = $index) {
                  <tr class="border-b border-gray-700 hover:bg-gray-700/50">
                    <td class="px-4 py-3 font-medium">{{i + 1}}</td>
                    <td class="px-4 py-3">{{ item.username }}</td>
                    <td class="px-4 py-3 text-right">{{ item.score }}</td>
                    @if(selectedGameTypeId  === 1){
                      <td class="px-4 py-3 text-right">{{ item.max_streak }}</td>
                      <td class="px-4 py-3 text-right">{{ item.cant_categories }}</td>
                    }
                    @if(selectedGameTypeId  === 2){
                      <td class="px-4 py-3 text-right">{{ item.correct_guesses }}</td>
                      <td class="px-4 py-3 text-right">{{ item.streak }}</td>
                    }
                    @if(selectedGameTypeId  === 3){
                      <td class="px-4 py-3 text-right">{{ item.time_seconds }}</td>
                      <td class="px-4 py-3 text-right">{{ item.errors }}</td>
                    }
                    @if(selectedGameTypeId  === 4){
                      <td class="px-4 py-3 text-right">{{ item.words_guessed }}</td>
                      <td class="px-4 py-3 text-right">{{ item.max_streak_deftionary }}</td>
                    }
                  </tr>
                }
              }
            </tbody>
          </table>
        </div>
      } @else if(loading){
        <div class="flex justify-center items-center h-64">
          <div class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-blue-500"></div>
        </div>
      }
      @else {
      <div class="text-center py-8 text-gray-400">
        <p>Aún no hay puntuaciones registradas</p>
        <p class="mt-2">¡Sé el primero en aparecer aquí!</p>
      </div>
      }
  </div>
@if(gameType === null){
  <div class=" min-h-[25vh]"></div>
}