<div class="min-h-screen">
  <app-carousel></app-carousel>
  @if (isLoading) {
    <div class="flex justify-center items-center h-64">
      <div class="animate-spin rounded-full h-12 w-12 border-t-2 border-b-2 border-blue-500"></div>
    </div>
  }@if(!isLoading) {
    <div class="flex">
      <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6 space-y-8 md:grid md:grid-cols-2 lg:grid-cols-4 md:gap-16 md:space-y-0 lg:my-10">
        @for (game of games; track game.id){
          <app-cards
            [imageUrl]="game.icon_url"
            [gameName]="game.name"
            [gameRoute]="game.route_path">            
          </app-cards>
        }
      </div>
    </div>
  }
</div>
