<div class="min-h-screen">
  <app-carousel></app-carousel>
  <div class="flex">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6 space-y-8 md:grid md:grid-cols-2 lg:grid-cols-4 md:gap-16 md:space-y-0 lg:my-10">
      <app-cards imageUrl="preguntados.webp" gameName="Preguntados"></app-cards>
      <app-cards imageUrl="higher-lower.webp" gameName="Mayor o menor"></app-cards>
      <app-cards imageUrl="ahorcado.webp" gameName="Ahorcado"></app-cards>
      <app-cards imageUrl="Playroom-icon.png" gameName="Juego propio"></app-cards>
    </div>
  </div>
</div>
