<div class="min-h-screen">
  <app-carousel></app-carousel>
  <div class="flex">
    <div class="py-8 px-4 mx-auto max-w-screen-xl sm:py-16 lg:px-6 space-y-8 md:grid md:grid-cols-2 lg:grid-cols-4 md:gap-16 md:space-y-0 lg:my-10">
      <app-cards imageUrl="preguntados.webp" gameName="Preguntados" gameRoute="preguntados"></app-cards>
      <app-cards imageUrl="mayor_menor.webp" gameName="Mayor o menor" gameRoute="mayor-menor"></app-cards>
      <app-cards imageUrl="ahorcado.webp" gameName="Ahorcado" gameRoute="ahorcado"></app-cards>
      <app-cards imageUrl="playroom_icon.png" gameName="Juego propio" gameRoute="x"></app-cards>
    </div>
  </div>
</div>
